html, body {
	margin: 0;
	padding: 0;
}

.box {
	background: #664337;
	width: 100px;
	height: 100px;
	color: #fff;
}

.margin {
	margin: 10px;
}

.padding {
	padding: 10px;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

ul {

}

li {
	padding: 5px;
}

#testbox {
	line-height: 2em;
}

#sidebar h2 {

}

.boxes li {
	display: inline-block;
	margin: 20px;
	padding: 20px;
	background: #000;
	color: #fff;
}