.overlay {
	position: absolute;
	width: 100px;
	height: 100px;
	pointer-events: none;
	display: none;
	font-family: Roboto, Arial;
	line-height: 1em;
	font-size: 10px;
	z-index: 10000;
}

.overlay .title {
	background: rgba(0,0,0,0.7);
	color: #eee;
	padding: 3px 6px;
	position: relative;
	display: inline-block;
	top: -3em;
	text-align: left;
	z-index: 10001;
	min-width: 55px;
	padding-right: 12px;
}

.overlay .title.rule {
	background: rgb(0, 158, 255);
}

.overlay .title span.toggle {
	cursor: pointer;
	position: absolute;
	top: 2px;
	right: 6px;
}

.overlay .title .dropdown {
	background: rgb(0, 158, 255);
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
}

.overlay .title .dropdown li {
	margin: 0;
	padding: 3px 6px;
	border-top: 1px solid rgba(0,0,0,0.2);
	cursor: pointer;
	height: auto;
}

.overlay .title .dropdown li:hover {
	background: rgba(0,0,0,0.2);
}

.overlay * {
	pointer-events: all;
}

.container-margin, .container-padding {
	position: absolute;
	opacity: 0.3;
	transition: opacity 0.3s;
}

.container-margin {
	background: rgba(246, 167, 35, 0.5);
	text-align: center;
}

.container-padding {
	background: rgba(184, 233, 134, 0.5);
}

.overlay.hover .handle {
	opacity: 1;
}

.overlay.hover .container-padding,
.overlay.hover .container-margin {
	opacity: 1;
}

.handle {
	height: 12px;
	width: 12px;
	border-radius: 20px;
	background: black;
	position: absolute;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
	opacity: 0.3;
	transition: opacity 0.3s;
}

.handle-size {
	background: #4A90E2;
}

.handle-padding {
	background: #B8E986;
}

.handle-margin {
	background: #F6A723;
}

/* bottom */

.handle.bottom {
	bottom: -5px;
	left: 50%;
	cursor: s-resize;
}

.handle.bottom.handle-padding {
	margin-left: -6px;
}

.handle.bottom.handle-size {
	margin-left: -20px;
}

.handle.bottom.handle-margin {
	margin-left: 8px;
}

/* right */

.handle.right {
	right: -5px;
	top: 50%;
	cursor: e-resize;
}

.handle.right.handle-padding {
	margin-top: -6px;
}

.handle.right.handle-size {
	margin-top: -20px;
}

.handle.right.handle-margin {
	margin-top: 8px;
}

/* top */

.handle.top {
	top: -5px;
	left: 50%;
	cursor: n-resize;
}

.handle.top.handle-padding {
	margin-left: -6px;
}

.handle.top.handle-margin {
	margin-left: 8px;
}

/* left */

.handle.left {
	left: -5px;
	top: 50%;
	cursor: w-resize;
}

.handle.left.handle-padding {
	margin-top: -6px;
}

.handle.left.handle-margin {
	margin-top: 8px;
}

/* captions */

.caption {
	background: #fff;
	-webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.24));
	padding: 2px 5px;
	border-radius: 2px;
	position: absolute;
	z-index: 10002;
	opacity: 0.3;
	transition: opacity 0.3s;
}

.caption span {
	opacity: 0.5;
}

.overlay.hover .caption {
	opacity: 1;
}

.caption-width {
	top: 50%;
	right: 0;
	margin-top: -21px;
	background: #4A90E2;
	color: #fff;
}

.caption-width::before {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #4A90E2;
	top: 1px;
	left: -6px;
}

.caption-width.edge::before {
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #4A90E2;
	border-right: none;
	right: -6px;
	left: auto;
}

.caption-height {
	left: 50%;
	bottom: 0;
	margin-left: -21px;
	background: #4A90E2;
	color: #fff;
	transform: rotate(-90deg);
	transform-origin: top left;
}

.caption-height::before {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #4A90E2;
	top: 1px;
	left: -6px;
}

.caption-height.edge::before {
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #4A90E2;
	border-right: none;
	right: -6px;
	left: auto;
}

/* guides */

.guide-left, .guide-right,
.guide-bottom, .guide-top {
	opacity: 0.3;
	transition: opacity 0.3s;
}

.overlay.hover .guide-left, .overlay.hover .guide-right,
.overlay.hover .guide-bottom, .overlay.hover .guide-top {
	opacity: 1;
}

.guide-left, .guide-right {
	border-left: 1px dashed #4A90E2;
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
}

.guide-left {
	left: 0;
}

.guide-right {
	right: 0;
}

.guide-bottom, .guide-top {
	border-top: 1px dashed #4A90E2;
	height: 0;
	width: 100%;
	position: absolute;
	left: 0;
}

.guide-top {
	top: 0;
}

.guide-bottom {
	bottom: 0;
}