.overlay,
.overlay-title,
.vline-x,
.vline-y {
	font-family: Roboto, Arial;
	line-height: 1em;
	font-size: 10px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	pointer-events: none;
	display: none;
	z-index: 10000;
	will-change: transform;
}

.overlay-title {
	background: rgba(0,0,0,0.7);
	color: #eee;
	padding: 4px 6px;
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	text-align: left;
	z-index: 10001;
	border-radius: 2px;
	-webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.24));
	will-change: transform;
}

.overlay-title::before {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid rgba(0,0,0,0.7);
	border-bottom: 6px solid transparent;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	bottom: -12px;
	left: 50%;
}

.overlay-title > * {
	display: inline-block;
	position: relative;
}

.overlay-title .title-rule {
	padding-right: 14px;
	border-right: 1px solid rgba(255,255,255,0.5);
	margin-right: 6px;
	min-width: 55px;
}

.overlay-title.rule {
	background: rgb(0, 158, 255);
}

.overlay-title.rule::before {
	border-top-color: rgb(0, 158, 255);
}

.overlay-title span.toggle {
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 3px;
}

.overlay-title .dropdown {
	background: rgb(0, 158, 255);
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
}

.overlay-title .dropdown li {
	margin: 0;
	padding: 3px 6px;
	border-top: 1px solid rgba(0,0,0,0.2);
	cursor: pointer;
	height: auto;
}

.overlay-title .dropdown li:hover {
	background: rgba(0,0,0,0.2);
}

.container-margin, .container-padding {
	position: absolute;
	opacity: 0.3;
	pointer-events: none;
	width: 1px;
	height: 1px;
	transform-origin: top left;
}

.container-margin {
	background: rgba(246, 167, 35, 0.5);
	text-align: center;
}

.container-padding {
	background: rgba(184, 233, 134, 0.5);
}

.overlay.hover .handle {
	opacity: 1;
}

.overlay.in-command .handle {
	opacity: 0;
}

.overlay.hover .container-padding,
.overlay.hover .container-margin {
	opacity: 1;
}

.handle {
	height: 6px;
	width: 16px;
	border-radius: 1px;
	background: black;
	position: absolute;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
	opacity: 0.3;
	pointer-events: all;
}

.handle.top::before,
.handle.bottom::before {
	content : "";
	position: absolute;
	width: 8px;
	border-bottom: 2px dotted rgba(255,255,255,0.4);
	top: 2px;
	left: 4px;
}

.handle.right::before,
.handle.left::before {
	content : "";
	position: absolute;
	height: 8px;
	border-right: 2px dotted rgba(255,255,255,0.4);
	top: 4px;
	left: 2px;
}

.handle.left,
.handle.right {
	height: 16px;
	width: 6px;
}

.handle-size {
	background: #4A90E2;
}

.handle-padding {
	background: #6BD500;
}

.handle-margin {
	background: #F6A723;
}

/* bottom */

.handle.bottom {
	bottom: -3px;
	left: 50%;
	cursor: s-resize;
}

.handle.bottom.handle-padding {
	margin-left: -8px; /* - width of handle / 2 */
}

.handle.bottom.handle-size {
	margin-left: -24px; /* - width of handle / 2 - width of handle - 2 */
}

.handle.bottom.handle-margin {
	margin-left: 8px;
}

/* right */

.handle.right {
	right: -3px;
	top: 50%;
	cursor: e-resize;
}

.handle.right.handle-padding {
	margin-top: -8px;
}

.handle.right.handle-size {
	margin-top: -24px;
}

.handle.right.handle-margin {
	margin-top: 8px;
}

/* top */

.handle.top {
	top: -3px;
	left: 50%;
	cursor: n-resize;
}

.handle.top.handle-padding {
	margin-left: -8px;
}

.handle.top.handle-margin {
	margin-left: 8px;
}

/* left */

.handle.left {
	left: -3px;
	top: 50%;
	cursor: w-resize;
}

.handle.left.handle-padding {
	margin-top: -8px;
}

.handle.left.handle-margin {
	margin-top: 8px;
}

/* captions */

.overlay .caption {
	background: #fff;
	-webkit-filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.34));
	padding: 2px 5px;
	border-radius: 2px;
	position: absolute;
	z-index: 10002;
	opacity: 0;
	pointer-events: none;
	white-space: nowrap;
	transition: opacity 100ms;
}

.overlay .caption span {
	opacity: 0.5;
}

.overlay .caption span:nth-child(1) {
	display: none;
}

.overlay .caption.over span:nth-child(1) {
	display: inline;
}

.overlay.hover-inner .caption-width,
.overlay.hover-inner .caption-height
 {
	opacity: 1;
}

.overlay.hover-padding .caption-padding {
	opacity: 1;
}

.overlay .caption-padding {
	color: #fff;
	background: #5BB500;
}

.overlay .caption-padding.left {
	top: 50%;
	right: 100%;
	margin-top: -7px;
}

.overlay .caption-padding.left::before {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #5BB500;
	border-right: none;
	right: -6px;
	top: 1px;
	left: auto;
}

.overlay .caption-padding.left.edge::before {
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #5BB500;
	border-left: none;
	left: -6px;
	top: 1px;
	right: auto;
}

.overlay .caption-padding.right {
	top: 50%;
	left: 100%;
	margin-top: -7px;
}

.overlay .caption-padding.right::before {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #5BB500;
	border-left: none;
	left: -6px;
	top: 1px;
	right: auto;
}

.overlay .caption-padding.right.edge::before {
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #5BB500;
	border-right: none;
	right: -6px;
	top: 1px;
	left: auto;
}

.overlay .caption-padding.bottom {
	left: 50%;
	margin-left: 15px;
}

.overlay .caption-padding.bottom::before {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #5BB500;
	top: 1px;
	left: -6px;
}

.overlay .caption-padding.top {
	left: 50%;
	margin-left: 15px;
}

.overlay .caption-padding.top::before {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #5BB500;
	top: 1px;
	left: -6px;
}


.overlay.hover-margin .caption-margin {
	opacity: 1;
}

.overlay .caption-margin {
	color: #fff;
	background: #F6A723;
}

.overlay .caption-margin.left {
	top: 50%;
	right: 100%;
	margin-top: 7px;
}

.overlay .caption-margin.left::before {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #F6A723;
	border-right: none;
	right: -6px;
	top: 1px;
	left: auto;
}

.overlay .caption-margin.left.edge::before {
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #F6A723;
	border-left: none;
	left: -6px;
	top: 1px;
	right: auto;
}

.overlay .caption-margin.right {
	top: 50%;
	left: 100%;
	margin-top: 7px;
}

.overlay .caption-margin.right::before {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #F6A723;
	border-left: none;
	left: -6px;
	top: 1px;
	right: auto;
}

.overlay .caption-margin.right.edge::before {
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #F6A723;
	border-right: none;
	right: -6px;
	top: 1px;
	left: auto;
}

.overlay .caption-margin.bottom {
	left: 50%;
	margin-left: 29px;
}

.overlay .caption-margin.bottom::before {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #F6A723;
	top: 1px;
	left: -6px;
}

.overlay .caption-margin.top {
	left: 50%;
	margin-left: 29px;
}

.overlay .caption-margin.top::before {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #F6A723;
	top: 1px;
	left: -6px;
}

.overlay .caption-width {
	top: 50%;
	right: 0;
	margin-top: -21px;
	background: #4A90E2;
	color: #fff;
}

.overlay .caption-width::before {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #4A90E2;
	top: 1px;
	left: -6px;
}

.overlay .caption-width.edge::before {
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #4A90E2;
	border-right: none;
	right: -6px;
	left: auto;
}

.overlay .caption-height {
	left: 50%;
	bottom: -6px;
	margin-left: 1px;
	background: #4A90E2;
	color: #fff;
}

.overlay .caption-height::before {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #4A90E2;
	top: 1px;
	left: -6px;
}

.overlay .caption-height.edge::before {
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #4A90E2;
	border-right: none;
	right: -6px;
	left: auto;
}

/* guides */

.guide-left, .guide-right,
.guide-bottom, .guide-top {
	opacity: 0.3;
}

.overlay.hover .guide-left, .overlay.hover .guide-right,
.overlay.hover .guide-bottom, .overlay.hover .guide-top {
	opacity: 1;
}

.guide-left, .guide-right {
	border-left: 1px dashed #4A90E2;
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
}

.guide-left {
	left: 0;
}

.guide-right {
	right: 0;
}

.guide-bottom, .guide-top {
	border-top: 1px dashed #4A90E2;
	height: 0;
	width: 100%;
	position: absolute;
	left: 0;
}

.guide-top {
	top: 0;
}

.guide-bottom {
	bottom: 0;
}

.vline-x,
.vline-y {
	pointer-events: none;
	z-index: 10000;
	-webkit-filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.34));
	position: absolute;
	opacity: 1;
}

.vline-x div.caption,
.vline-y div.caption {
	display: inline-block;
	color: #fff;
	background: #d800fe;
	padding: 2px 5px;
	border-radius: 2px;
	white-space: nowrap;
	position: relative;
}

.vline-x {
	border-top: 1px solid #d800fe;
	height: 0;
	top: 0;
	left: 0;
	text-align: center;
}

.vline-x::before {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #d800fe;
	top: -6px;
	left: 0px;
}

.vline-x::after {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #d800fe;
	top: -6px;
	right: 0px;
}

.vline-x div.caption {
	top: -22px;
}

.vline-x div.crossbar {
	width: 0;
	border-left: 1px dashed #d800fe;
	position: absolute;
	top: 0;
	left: 0;
}

.vline-y {
	border-left: 1px solid #d800fe;
	width: 0;
	top: 0;
	left: 0;
}

.vline-y::before {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-bottom: 6px solid #d800fe;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	left: -6px;
	top: 0px;
}

.vline-y::after {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid #d800fe;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	right: -6px;
	bottom: 0px;
}

.vline-y div.caption {
	left: 6px;
	top: 50%;
	position: absolute;
	display: block;
	margin-top: -7px;
}

.vline-y div.crossbar {
	height: 0;
	border-top: 1px dashed #d800fe;
	position: absolute;
	top: 0;
	left: 0;
}

body {
	overflow-y: scroll; /* avoid herky jerky scrollbar behavior */
}
