html, body {
	margin: 0;
	padding: 0;
}

body {
	overflow-y: scroll; /* avoid herky jerky scrollbar behavior */
}

.box {
	background: #664337;
	width: 100px;
	height: 100px;
	color: #fff;
}

.margin {
	margin: 10px;
}

.padding {
	padding: 10px;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

ul {
	margin-top: 220px;
}

li {
	padding: 5px;
}

#testbox {
	line-height: 2em;
	position: absolute;
	top: 100px;
	left: 100px;
}

#sidebar {
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	width: 200px;
	background: #157EF4;
	color: #fff;
}

#sidebar h2 {

}

.boxes {
	margin-top: 10px;
}

.boxes li {
	display: inline-block;
	margin: 20px;
	padding: 20px;
	background: #000;
	color: #fff;
}