$size-color-light: #4A90E2;
$padding-color-dark: #5BB500;
$padding-color-light: #6BD500;
$margin-color-light: #F6A723;

.overlay,
.overlay-title,
.vline-x,
.vline-y {
	font-family: Roboto, Arial;
	line-height: 1em;
	font-size: 10px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	pointer-events: none;
	display: none;
	z-index: 10000;
	will-change: transform;

	&.hover {

		.handle {
			opacity: 1;
		}

		.container-padding,
		.container-margin {
			opacity: 1;
		}

	}

	&.in-command {
		.handle {
			opacity: 0;
		}
	}

	&.hover-inline {

		.handle-size,
		.caption-height,
		.caption-width {
			display: none;
		}

		.handle.top,
		.handle.bottom {
			display: none;
		}

	}

}

.overlay-title {
	background: rgba(0,0,0,0.7);
	color: #eee;
	padding: 4px 6px;
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	text-align: left;
	z-index: 10001;
	border-radius: 2px;
	filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.24));
	will-change: transform;

	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 0; 
		height: 0; 
		border-top: 6px solid rgba(0,0,0,0.7);
		border-bottom: 6px solid transparent;
		border-right: 6px solid transparent;
		border-left: 6px solid transparent;
		bottom: -12px;
		left: 50%;		
	}

	> * {
		display: inline-block;
		position: relative;
	}

	.title-rule {
		padding-right: 14px;
		border-right: 1px solid rgba(255,255,255,0.5);
		margin-right: 6px;
		min-width: 55px;
	}

	&.rule {
		background: rgb(0, 158, 255);
		&::before {
			border-top-color: rgb(0, 158, 255);
		}
	}

	span.toggle {
		cursor: pointer;
		position: absolute;
		top: 0px;
		right: 3px;
	}

	.dropdown {
		background: rgb(0, 158, 255);
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		margin: 0;
		padding: 0;
		list-style: none;
		display: none;

		li {
			margin: 0;
			padding: 3px 6px;
			border-top: 1px solid rgba(0,0,0,0.2);
			cursor: pointer;
			height: auto;

			&:hover {
				background: rgba(0,0,0,0.2);
			}
		}
	}
}

.container-margin,
.container-padding {
	position: absolute;
	opacity: 0.3;
	pointer-events: none;
	width: 1px;
	height: 1px;
	transform-origin: top left;
}

.container-margin {
	background: rgba(246, 167, 35, 0.5);
	text-align: center;
}

.container-padding {
	background: rgba(184, 233, 134, 0.5);
}

.handle {
	height: 6px;
	width: 16px;
	border-radius: 1px;
	background: black;
	position: absolute;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
	opacity: 0.3;
	pointer-events: all;

	&.top::before,
	&.bottom::before {
		content : "";
		position: absolute;
		width: 8px;
		border-bottom: 2px dotted rgba(255,255,255,0.4);
		top: 2px;
		left: 4px;
	}

	&.right::before,
	&.left::before {
		content : "";
		position: absolute;
		height: 8px;
		border-right: 2px dotted rgba(255,255,255,0.4);
		top: 4px;
		left: 2px;
	}

	&.left,
	&.right {
		height: 16px;
		width: 6px;
	}

	&.handle-size {
		background: $size-color-light;
	}

	&.handle-padding {
		background: $padding-color-light;
	}

	&.handle-margin {
		background: $margin-color-light;
	}

	/* bottom */
	&.bottom {
		bottom: -3px;
		left: 50%;
		cursor: s-resize;

		&.handle-padding {
			margin-left: -8px; /* - width of handle / 2 */
		}

		&.handle-size {
			margin-left: -24px; /* - width of handle / 2 - width of handle - 2 */
		}

		&.handle-margin {
			margin-left: 8px;
		}

	}

	/* right */
	&.right {
		right: -3px;
		top: 50%;
		cursor: e-resize;

		&.handle-padding {
			margin-top: -8px;
		}

		&.handle-size {
			margin-top: -24px;
		}

		&.handle-margin {
			margin-top: 8px;
		}

	}

	/* top */
	&.top {
		top: -3px;
		left: 50%;
		cursor: n-resize;

		&.handle-padding {
			margin-left: -8px;
		}

		&.handle-margin {
			margin-left: 8px;
		}

	}

	/* left */
	&.left {
		left: -3px;
		top: 50%;
		cursor: w-resize;

		&.handle-padding {
			margin-top: -8px;
		}

		&.handle-margin {
			margin-top: 8px;
		}

	}

}


/* captions */

@mixin triangle-right($color) {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid $color;
	border-right: none;
	right: -6px;
	top: 1px;
	left: auto;
}

@mixin triangle-left($color) {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid $color;
	border-left: none;
	left: -6px;
	top: 1px;
	right: auto;
}

@mixin triangle-bottom($color) {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: none;
	border-top: 6px solid $color;
	left: 4px;
	bottom: -6px;
	right: auto;
}

@mixin triangle-top($color) {
	content: '';
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: none;
	border-bottom: 6px solid $color;
	left: 4px;
	top: -6px;
	right: auto;
}

.overlay {

	.caption {
		background: #fff;
		-webkit-filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.34));
		padding: 2px 5px;
		border-radius: 2px;
		position: absolute;
		z-index: 10002;
		opacity: 0;
		pointer-events: none;
		white-space: nowrap;
		transition: opacity 100ms;

		span {
			opacity: 0.5;
			&:nth-child(1) {
				display: none;
			}
		}

		&.over span:nth-child(1) {
			display: inline;
		}

	}

	.caption-padding {
		color: #fff;
		background: $padding-color-dark;

		&.left {
			top: 50%;
			right: 100%;
			margin-top: -8px;
			&::before {
				@include triangle-right($padding-color-dark);
			}
			&.edge::before {
				@include triangle-left($padding-color-dark);
			}
		}

		&.right {
			top: 50%;
			left: 100%;
			margin-top: -8px;
			&::before {
				@include triangle-left($padding-color-dark);
			}
			&.edge::before {
				@include triangle-right($padding-color-dark);
			}
		}

		&.bottom {
			left: 50%;
			margin-left: -11px;
			&::before {
				@include triangle-top($padding-color-dark);
			}
		}

		&.top {
			left: 50%;
			margin-left: -11px;
			&::before {
				@include triangle-bottom($padding-color-dark);
			}
		}
	}

	.caption-margin {
		color: #fff;
		background: $margin-color-light;

		&.left {
			top: 50%;
			right: 100%;
			margin-top: 7px;
			&::before {
				@include triangle-right($margin-color-light);
			}
			&.edge::before {
				@include triangle-left($margin-color-light);
			}
		}

		&.right {
			top: 50%;
			left: 100%;
			margin-top: 7px;
			&::before {
				@include triangle-left($margin-color-light);
			}
			&.edge::before {
				@include triangle-right($margin-color-light);
			}
		}

		&.bottom {
			left: 50%;
			&::before {
				@include triangle-top($margin-color-light);
			}
		}

		&.top {
			left: 50%;
			margin-left: 29px;
			&::before {
				@include triangle-bottom($margin-color-light);
			}
		}
	}

	.caption-width {
		top: 50%;
		right: 0;
		margin-top: -21px;
		background: $size-color-light;
		color: #fff;
		&::before {
			@include triangle-left($size-color-light);
		}
		&.edge::before {
			@include triangle-right($size-color-light);
		}
	}

	.caption-height {
		left: 50%;
		bottom: -24px;
		background: $size-color-light;
		color: #fff;
		&::before {
			@include triangle-top($size-color-light);
		}
	}

	&.hover-inner {
		.caption-width,
		.caption-height {
			opacity: 1;
		}
	}

	&.hover-padding {
		.caption-padding {
			opacity: 1;
		}
	}

	&.hover-margin {
		.caption-margin {
			opacity: 1;
		}
	}

}


/* guides */
.guide {
	opacity: 0.3;
}

.overlay {
	&.hover-inner {
		.guide-left,
		.guide-right,
		.guide-bottom,
		.guide-top {
			opacity: 1;
		}	
	}
	&.hover-margin {
		.guide-margin-left,
		.guide-margin-right,
		.guide-margin-bottom,
		.guide-margin-top {
			opacity: 1;
		}		
	}
	&.hover-padding {
		.guide-padding-left,
		.guide-padding-right,
		.guide-padding-bottom,
		.guide-padding-top {
			opacity: 1;
		}
	}
}

.guide-left,
.guide-right,
.guide-margin-left,
.guide-margin-right,
.guide-padding-left,
.guide-padding-right {
	border-left: 1px dashed $size-color-light;
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
}

.guide-left,
.guide-margin-left,
.guide-padding-left {
	left: 0;
}

.guide-right,
.guide-margin-right,
.guide-padding-right {
	right: 0;
}

.guide-bottom,
.guide-top,
.guide-margin-bottom,
.guide-margin-top,
.guide-padding-bottom,
.guide-padding-top {
	border-top: 1px dashed $size-color-light;
	height: 0;
	width: 100%;
	position: absolute;
	left: 0;
}

.guide-top,
.guide-margin-top,
.guide-padding-top {
	top: 0;
}

.guide-bottom,
.guide-margin-bottom,
.guide-padding-bottom {
	bottom: 0;
}

.guide-margin-top,
.guide-margin-right,
.guide-margin-bottom,
.guide-margin-left {
	border-color: $margin-color-light;
}

.guide-padding-top,
.guide-padding-right,
.guide-padding-bottom,
.guide-padding-left {
	border-color: $padding-color-light;
}

.vline-x,
.vline-y {
	pointer-events: none;
	z-index: 10000;
	-webkit-filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.34));
	position: absolute;
	opacity: 1;
}

.vline-x div.caption,
.vline-y div.caption {
	display: inline-block;
	color: #fff;
	background: #d800fe;
	padding: 2px 5px;
	border-radius: 2px;
	white-space: nowrap;
	position: relative;
}

.vline-x {
	border-top: 1px solid #d800fe;
	height: 0;
	top: 0;
	left: 0;
	text-align: center;
	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 0; 
		height: 0; 
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-right: 6px solid #d800fe;
		top: -6px;
		left: 0px;
	}
	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 0; 
		height: 0; 
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-left: 6px solid #d800fe;
		top: -6px;
		right: 0px;
	}

	div.caption {
		top: -22px;
	}

	div.crossbar {
		width: 0;
		border-left: 1px dashed #d800fe;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.vline-y {
	border-left: 1px solid #d800fe;
	width: 0;
	top: 0;
	left: 0;
	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 0; 
		height: 0; 
		border-bottom: 6px solid #d800fe;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		left: -6px;
		top: 0px;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 0; 
		height: 0; 
		border-top: 6px solid #d800fe;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		right: -6px;
		bottom: 0px;
	}

	div.caption {
		left: 6px;
		top: 50%;
		position: absolute;
		display: block;
		margin-top: -7px;
	}

	div.crossbar {
		height: 0;
		border-top: 1px dashed #d800fe;
		position: absolute;
		top: 0;
		left: 0;
	}
}
